.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background: var(--bg-color);
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: var(--accent-color);
}

.skills,
.softSkills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 60vw;
}

.timelineContainer {
  text-align: center;
  min-height: 100vh;
  padding: 3rem 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Card-Like Styling for Skills */
.skill,
.softSkill,
.timelineItem {
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.skill:hover,
.softSkill:hover,
.timelineItem:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .skills {
    max-width: 90vh;
  }
  .softSkills {
    max-width: 90vh;
  }

  .title {
    font-size: 1.5rem;
  }
}
