.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background: var(--bg-color);
}

.aboutMeContainer {
  padding: 1rem 4rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: var(--accent-color);
}

.aboutMeText {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
}
.letsConnect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.2rem;
}

.link {
  display: flex;
  align-items: center;
}

.timelineContainer {
  text-align: center;
  min-height: 50vh;
  padding: 1rem 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 1rem;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .aboutMeContainer {
    padding: 1rem 1rem;
  }

  .aboutMeText {
    font-size: 0.9rem;
  }
}
