.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background: var(--bg-color);
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: var(--accent-color);
}

.skills,
.softSkills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 60vw;
}

.timelineContainer {
  text-align: center;
  min-height: 50vh;
  padding: 1rem 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 1rem;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
}
