.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--footer-bg-color);
  height: auto;
}

.contactTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--footer-text-color);
}

.contactData {
  font-size: 1rem;
  margin: 5px 0;
  color: var(--footer-text-color);
}

.contactData a {
  text-decoration: none;
  color: inherit;
}

.contactData a:hover {
  color: #0077b5;
}

.contactData svg {
  margin-left: 10px;
  vertical-align: middle;
}

.techStack {
  color: var(--footer-text-color);
}

@media (max-width: 600px) {
  .contactTitle {
    font-size: 1.3rem;
  }

  .contactData {
    font-size: 0.9rem;
  }

  .contactData svg {
    width: 30px;
    height: 30px;
  }
}
