.softSkill {
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.softSkill:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .softSkill {
    text-align: center;
    font-size: 1rem;
  }
}
